# dependências
node_modules/
.pnp
.pnp.*

# build
.next/
out/
build/
dist/

# ambiente
.env
.env*.local

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# testes / cobertura
coverage/

# sistema operacional
.DS_Store
Thumbs.db

# editores
.vscode/
.idea/
*.swp

# vercel / typescript
.vercel
*.tsbuildinfo
next-env.d.ts
